<h1><%= @user.name %></h1>

<p><%= @user.email %></p>

<p><a href="<%= edit_user_path(@user.id) %>">Edit User</a></p>

<p><a href="<%= user_path(@user.id) %>" data-method="delete" data-confirm="Are you sure?">Delete Account</a></p>